# Part 1: Extract the variable descriptions

In [1]:
import pandas as pd
import re

In [2]:
ols_data = pd.read_csv("ols_animal_research_survey_data_2016.csv")

In [3]:
with open("ols_animal_research_survey_data_2016_ukda_data_dictionary.rtf") as file:  
    data = file.read()

In [4]:
# data

In [5]:
question_tuples = re.findall('(Variable\slabel\s=\s\}\{\\\\cf4\s)([\d\w\s\?\.\:\,]*)', data)
question_tuples[0:5]

[('Variable label = }{\\cf4 ', 'Respondent serial'),
 ('Variable label = }{\\cf4 ',
  'How well informed do you feel about the use of animals in scientific research in the UK?'),
 ('Variable label = }{\\cf4 ',
  'Interested in finding out more about the ongoing work to find alternatives to using animals in research?'),
 ('Variable label = }{\\cf4 ',
  'Interested in finding out more about the ongoing work to improve the welfare of animals in scientific research?'),
 ('Variable label = }{\\cf4 ',
  'I can accept the use if animals in research as long as it is for medical research purposes and there is no alternative')]

In [6]:
var_name_tuples = re.findall('(Variable\s=\s\}\{\\\\f2\\\\fs20\\\\cf4\s)([\d\w]*)', data)

In [7]:
cleaned_data = pd.DataFrame()

In [8]:
for tuple in enumerate(question_tuples):
    survey_num = 1
    var_name = var_name_tuples[tuple[0]][1]
    question = tuple[1][1]
    cleaned_data = cleaned_data.append([[survey_num, var_name, question]], ignore_index=True)

In [9]:
cleaned_data.columns = ["Survey_Number", "Var_Name", "Var_Text"]
cleaned_data.head()

   Survey_Number Var_Name                                           Var_Text
0              1       ID                                  Respondent serial
1              1       Q1  How well informed do you feel about the use of...
2              1      Q2a  Interested in finding out more about the ongoi...
3              1      Q2b  Interested in finding out more about the ongoi...
4              1      Q3a  I can accept the use if animals in research as...

In [10]:
len(cleaned_data)

248

In [11]:
num = 248/3
num

82.66666666666667

In [12]:
cleaned_data[82:165]["Survey_Number"] += 1
cleaned_data[165:248]["Survey_Number"] += 2

/Users/bethanybailey/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/bethanybailey/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
cleaned_data

,Survey_Number,Var_Name,Var_Text
0,1,ID,Respondent serial
1,1,Q1,How well informed do you feel about the use of...
2,1,Q2a,Interested in finding out more about the ongoi...
3,1,Q2b,Interested in finding out more about the ongoi...
4,1,Q3a,I can accept the use if animals in research as...
5,1,Q3b,There needs to be more work done into alternat...
6,1,Q3c,I can accept the use of animals in scientific ...
7,1,Q3d,Animals should not be used in any scientific r...
8,1,Q3e,It does not bother me if animals are used in s...
9,1,Q3f,The use of animals for medical research should...
10,1,Q3g,The UK government should ban the use of animal...
11,1,Q3h,Acceptable to use animals in research to help ...
12,1,Q3i,Acceptable to use animals in research to help ...
13,1,Q3j,Acceptable to use animals for all types of res...
14,1,Q3k,Acceptable to use animals in scientific resear...
15,1,Q3l,Acceptable to use animals in scientific resear...
16,1,Q3m,Acceptable to use animals in scientific resear...
17,1,Q4_1,Which of these is true?: The use of animals fo...
18,1,Q4_2,Which of these is true?: Scientists could do m...
19,1,Q4_3,Which of these is true?: Scientific research u...
20,1,Q4_4,Which of these is true?: Scientific research i...
21,1,Q4_5,Which of these is true?: Researchers are worki...
22,1,Q4_6,Which of these is true?: Don
23,1,Q4_7,Which of these is true?: None of these
24,1,Q5a,I do not trust the regulatory system around th...
25,1,Q5b,I trust scientists not to cause unnecessary su...
26,1,Q5c,I feel that unnecessary duplication of scienti...
27,1,Q5d,Scientific research involving animals sometime...
28,1,Q5e,The UK has strict rules on the use of animals ...
29,1,Q5f,The rules in the UK on scientific research inv...
...,...,...,...
218,3,Q14_13,Past 12 months seen or heard animal research i...
219,3,Q14_14,Past 12 months seen or heard animal research i...
220,3,Q14_15,Past 12 months seen or heard animal research i...
221,3,Q14_16,Past 12 months seen or heard animal research i...
222,3,Q14_17,Past 12 months seen or heard animal research i...
223,3,Q14_18,Past 12 months seen or heard animal research i...
224,3,Q14_19,Past 12 months seen or heard animal research i...
225,3,Q14_20,Past 12 months seen or heard animal research i...
226,3,Q14_21,Past 12 months seen or heard animal research i...
227,3,Q14_22,Past 12 months seen or heard animal research i...
228,3,AgeB2,Respondent age bracket
229,3,sgrade,Respondent social grade
230,3,Soc,Respondent social grade
231,3,Soc2,Respondent social grade
232,3,gor,Respondent Government Office Region
233,3,sex,Respondent gender
234,3,Eth,Respondent ethnic origin
235,3,Reg,Respondent GB region
236,3,gen,Respondent generation
237,3,tenure,Respondent tenure
238,3,Empstat,Respondent working status
239,3,qual,Respondent highest educational level
240,3,marstat,Respondent marital status
241,3,access,Respondent internet access
242,3,Income,Respondent income bracket
243,3,Broadsheet,Respondent regularly reads a daily Broadsheet ...
244,3,MidMarket,Respondent regularly reads a daily Mid
245,3,Tabloid,Respondent regularly reads a daily Tabloid paper
246,3,NoPpr,Respondent does not regularly read a daily paper
247,3,weight,Weighting factor

In [21]:
def make_csv(survey_num):
    df = cleaned_data[cleaned_data["Survey_Number"] == survey_num]
    df = df.iloc[:, 1:3]
    name = "OLSAnimal_" + str(survey_num) + ".csv"
    print(len(df))
    df.to_csv(path_or_buf=name, index=False)

In [22]:
make_csv(1)
make_csv(2)
make_csv(3)

82
83
83

In [23]:
cleaned_data.to_csv(path_or_buf="OLSAnimal_cleaned_joined.csv", index=False)

## Part 2: Create the survey CSV

In [24]:
d = {"Survey_Number": [1, 2, 3], 
    "Survey_Name": ["Public Attitudes towards Animal Research 2016-1", "Public Attitudes towards Animal \
    Research 2016-2", "Public Attitudes towards Animal Research 2016-3"], "Num_Participants": [987, 987, 987], \
    "Org_Conduct": ["IPSOS", "IPSOS", "IPSOS"], "Num_Questions": [82, 83, 83], "Data_Link": \
    ["http://bit.ly/2F7fNuv", "http://bit.ly/2F7fNuv", "http://bit.ly/2F7fNuv"], \
    "Documentation_Link": ["http://bit.ly/2CUZWsE", "http://bit.ly/2CUZWsE", "http://bit.ly/2CUZWsE"],\
     "Source_Link": ["http://bit.ly/2CsBSlr", "http://bit.ly/2CsBSlr", "http://bit.ly/2CsBSlr"],\
     "Summary": ["Part 1 of findings of a \
        2016 survey on current public awareness and attitudes towards the use of animals in research. The \
        survey also examines attitudes towards, and trust in, the regulatory system and the people who work \
        with animals in research.",
                 "Part 2 of findings of a \
        2016 survey on current public awareness and attitudes towards the use of animals in research. The \
        survey also examines attitudes towards, and trust in, the regulatory system and the people who work \
        with animals in research.", 
                 "Part 3 of findings of a \
        2016 survey on current public awareness and attitudes towards the use of animals in research. The \
        survey also examines attitudes towards, and trust in, the regulatory system and the people who work \
        with animals in research."]}

In [25]:
detail = pd.DataFrame(data=d, columns = ["Survey_Number", "Survey_Name", "Num_Participants", \
                      "Org_Conduct", "Num_Questions", "Data_Link", "Documentation_Link", "Source_Link", \
                      "Summary"])

In [26]:
detail

,Survey_Number,Survey_Name,Num_Participants,Org_Conduct,Num_Questions,Data_Link,Documentation_Link,Source_Link,Summary
0,1,Public Attitudes towards Animal Research 2016-1,987,IPSOS,82,http://bit.ly/2F7fNuv,http://bit.ly/2CUZWsE,http://bit.ly/2CsBSlr,Part 1 of findings of a 2016 survey on...
1,2,Public Attitudes towards Animal Research 2...,987,IPSOS,83,http://bit.ly/2F7fNuv,http://bit.ly/2CUZWsE,http://bit.ly/2CsBSlr,Part 2 of findings of a 2016 survey on...
2,3,Public Attitudes towards Animal Research 2016-3,987,IPSOS,83,http://bit.ly/2F7fNuv,http://bit.ly/2CUZWsE,http://bit.ly/2CsBSlr,Part 3 of findings of a 2016 survey on...

In [27]:
detail.to_csv(path_or_buf="OLS_Survey_Detail.csv", index=False)